body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
}

.container {
  background-color: #ddd;
  display: flex;
  align-items: center;
  min-height: 90vh;
}

.criptografia textarea {
  resize: none;
  width: 680px;
  height: 500px;
  outline: none;
  border: none;
  background-color: #fff;
  font-size: 32px;
  color: #0a3871;
  line-height: 48px;
  font-weight: 400;
}

.criptografia textarea::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0a3871;
  font-size: 32px;
  font-weight: 400;
  
}

.logo {
  padding: 10px;
}
.paragrafo p {
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #495057;
  font-weight: 400;
  line-height: 18px;
}

.paragrafo p img {
  margin-right: 10px;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.btnc {
  min-width: 100px;
  min-height: 40px;
  border: none;
  outline: none;
  background-color: #0a3871;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #fff;
  border-radius: 24px;
  transition: all 0.3s;
}

.btnd {
  min-width: 100px;
  min-height: 40px;
  border: 1px solid #0a3871;
  outline: none;
  background-color: #d8dfe8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #0a3871;
  border-radius: 24px;
  transition: all 0.3s;
}

.btnc:hover {
  background-color: #08274e;
  cursor: pointer;
}

.btnd:hover {
  background-color: #b1b4b7;
  cursor: pointer;
}

.resultado {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 200px;
  min-height: 150px;
  margin-bottom: 18px;
  background-color: #fff;
  border-radius: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0a3871;
  font-size: 32px;
}

.resultado-imagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;

  margin: auto 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.resultado-imagem h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  width: 60%;
  text-align: center;
}

.resultado-imagem p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 60%;
  color: #495057;
  text-align: center;
}

.botao-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copiar {
  min-width: 100px;
  min-height: 40px;
  border: none;
  outline: none;
  background-color: #0a3871;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #fff;
  border-radius: 24px;
  transition: all 0.3s;
  margin: 0 auto;
}

.copiar:hover {
  background-color: #08274e;
  cursor: pointer;
}

footer {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;

}

 @media (min-width: 350px) {
    .container {
      display: flex;
      flex-direction: column;
      min-height: 90vh;
      justify-content: center;
    }

    .criptografia {
      max-width: 80%;
      margin: 0 auto;
      padding-bottom: 15px;
    }

    #criptografar-text {
      max-width: 100%;
      max-height: 200px;
      font-size: 25px;
    }

    .btn{
      display: flex;
      flex-direction: column;
    }

    .btnc{
      margin-bottom: 10px;
      max-width: 100%;
    }

    .btnd{
      margin-bottom: 10px;
      max-width: 100%;
    }

    .resultado {
      margin: 0 auto;
      max-width: 100%;
    }

    .resultado-imagem {
      display: none;
    }

    .container__resultado{
      font-size: 15px;
      width: 80%;
      margin: 0 auto;
    }

    .botao-container{
      max-width: 100%;
    }

    .copiar {
      margin-top: 10px;
      width: 50%;
    }
  }

  @media(min-width: 680px) {
    .btn {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .btnc{
      width: 200px;
    }

    .btnd {
      width: 200px;
    }

    @media (min-width: 900px) {
      
      .container {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        justify-content: center;
        max-width: 100vw;
        margin: 0;
        padding: 0;
      }

      .criptografia{
        flex: 1;
        max-width: 40%;
        margin: 0 auto;
      }

      .btn {
        max-width: 90%;
        display: flex;
        justify-content: space-evenly;
      }

      .container__resultado {
        flex: 1;
        max-width: 40%;
        margin: 0;
      }

      footer {
        max-width: 100vw;
        background-color: #ddd;
      }

      #criptografar-text {
        max-width: 90%;
        max-height: 100%;
      }
      .container__resultado {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .resultado {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 600px;
        height: 500px;
        margin-bottom: 18px;
        background-color: #fff;
        border-radius: 32px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: #0a3871;
        font-size: 32px;
      }

      .resultado-imagem{
        display: flex;
      }

      .copiar {
        width: 200px;
      }
    }
  }
