body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.container {
  background-color: #8490bd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}

.criptografia textarea {
  resize: none;
  width: 680px;
  height: 500px;
  outline: none;
  border: none;
  background-color: #6a7ab5;
  font-size: 32px;
  color: #0a3871;
  line-height: 48px;
  font-weight: 400;
}

.criptografia textarea::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  
}

.logo {
  padding: 10px;
}
.paragrafo p {
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #495057;
  font-weight: 400;
  line-height: 18px;
}

.paragrafo p img {
  margin-right: 10px;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.btnc {
  width: 328px;
  height: 67px;
  border: none;
  outline: none;
  background-color: #0a3871;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #fff;
  border-radius: 24px;
  transition: all 0.3s;
}

.btnd {
  width: 328px;
  height: 67px;
  border: 1px solid #0a3871;
  outline: none;
  background-color: #d8dfe8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #0a3871;
  border-radius: 24px;
  transition: all 0.3s;
}

.btnc:hover {
  background-color: #08274e;
  cursor: pointer;
}

.btnd:hover {
  background-color: #b1b4b7;
  cursor: pointer;
}

.resultado {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 400px;
  height: 500px;
  margin-bottom: 18px;
  background-color: #fff;
  border-radius: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0a3871;
  font-size: 32px;
}

.resultado-imagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;

  margin: auto 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.resultado-imagem h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  width: 60%;
  text-align: center;
}

.resultado-imagem p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 60%;
  color: #495057;
  text-align: center;
}

.botao-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copiar {
  width: 100%;
  height: 65px;
  border: none;
  outline: none;
  background-color: #0a3871;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #fff;
  border-radius: 24px;
  transition: all 0.3s;
  margin: 0 auto;
}

.copiar:hover {
  background-color: #08274e;
  cursor: pointer;
}

footer {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;

}

@media (max-width: 1400px) {
  .criptografia textarea {
    resize: none;
    width: 380px;
    height: 60%;
    outline: none;
    border: none;
    background-color: #f3f5fc;
    margin-top: 20px;
    font-size: 32px;
    color: #0a3871;
    line-height: 48px;
    font-weight: 400;
  }

  .btn {
    display: flex;
    flex-direction: column;
  }

  .btnc {
    margin-bottom: 10px;
  }

  .resultado {
    width: 380px;
    height: 85%;
  }

  @media (max-width: 850px) {
    .container {
      display: flex;
      flex-direction: column;
      padding: 15px;
    }

    .criptografia {
      max-width: 100%;
      margin: 0 auto;
    }

    .criptografia textarea {
      max-width: 100%;
      height: 90%;
    }

    .btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .btnc {
      padding: 5px 10px;
      max-width: 30%;
    }

    .btnd {
      max-width: 100%;
    }

    .logo {
      margin: 0;
    }

    .resultado {
      margin: 0 auto;
      margin-top: 200px;
      max-width: 90%;
    }

    .resultado-imagem {
      display: none;
    }
  }
}
